@page
@using ChatApplication.Code
@model ChatModel
@{
    ViewData["Title"] = "Chat";
}

<h1>Real-Time Chat</h1>

<div class="row">
    <div class="col-3">
        <select id="fromInput" class="form-control">
            <option>-Select One-</option>
            @foreach (var item in Model.Customers)
            {
                <option value="@item.Id">
                    @(item.FirstName + " " + item.LastName)
                </option>
            }
        </select>
    </div>
    <div class="col-3">
        <select id="toInput" class="form-control">
            <option>-Select One-</option>
            @foreach (var item in Model.Customers)
            {
                <option value="@item.Id">
                    @(item.FirstName + " " + item.LastName)
                </option>
            }
        </select>
    </div>
</div>
<div class="row mt-2">
    <div class="col-6">
        <textarea id="messageInput" placeholder="Message" style="width:100%" ></textarea>
    </div>
</div>
<div class="row">
    <div class="col-3 text-center">
        <button onclick="sendMessage()">Send</button>
    </div>
    <div class="col-3 text-center">
        <button onclick="retrieveMessages()">Retrieve</button>
    </div>
</div>

<ul id="messagesList"></ul>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.min.js" integrity="sha512-7SRCYIJtR6F8ocwW7UxW6wGKqbSyqREDbfCORCbGLatU0iugBLwyOXpzhkPyHIFdBO0K2VCu57fvP2Twgx1o2A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();

        connection.on("ReceiveMessage", function (from, to,message) {
            var cfrom = document.getElementById("fromInput").value;
            var cto = document.getElementById("toInput").value;
            if ((cfrom === from.id && cto === to.id) || (cfrom == to.id && cto === from.id)) {
                var li = document.createElement("li");
                li.textContent = `${from.fullName} :  ${message}`;
                document.getElementById("messagesList").appendChild(li);            }
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function sendMessage() {
            var from = document.getElementById("fromInput").value;
            var to  = document.getElementById("toInput").value;
            var message = document.getElementById("messageInput").value;
            if(from!=to){
                connection.invoke("SendMessage", from, to, message).then(function () {
                    document.getElementById("messageInput").value=""
                }).catch(function (err) {
                    return console.error(err.toString());
                });
            }
        }

        function retrieveMessages() {
            var from = document.getElementById("fromInput").value;
            var to = document.getElementById("toInput").value;
            console.log(from,to)
            $.ajax({
                url: "/Chat?handler=Messages",
                type: 'get',
                data: {
                    from:from,to:to
                },
                success: function (res) {
                    console.log(res)
                }
            });
        }

    </script>
}
